/* 
    Created on : 15.06.2015, 23:53:16
    Author     : exlant
*/
html,body
{
    padding: 0px;
    margin: 0px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 100%;
    height: 100%;
}

a:link
{
    color: blue;
}
a:visited
{
    color: blue;
}
a:hover
{
    color: green;
}
a:active
{
    color: green;
     
}

label,input[type='checkbox'],input[type='radio']
{
    cursor: pointer;
}

div:empty
{
    display: none;
}

span.calculateLength
{
    position: absolute;
    margin-top: -1000px;
    visibility: hidden;
}

span.minText
{
    cursor: default;
}

div.centerTitle
{
    width: 878px;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    border: 1px solid black;
    border-bottom: none;
    background: #b0c3dd;
}

div.mainWrapper
{
    width: 1152px;
}

div.leftContainer,
div.centerContainer
{
    display: inline-block;  
    vertical-align: top;
}

div.centerContainer
{
    margin-left: 10px;
    width: 890px;
}
div.leftContainer
{
    width: 250px;
    border-radius: 5px;
    border: 1px solid black;
}

div.leftContainer div.autorizationPanel div.title
{
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    border-bottom: 1px solid black;
    background: #b0c3dd;
}

div.leftContainer div.autorizationPanel div.login
{
    text-align: left;
    font-size: 18px;
    padding: 5px;
    padding-left: 15px;
    
    
}

div.leftContainer div.autorizationPanel div.statistics
{
    text-align: left;
    font-size: 16px;
    padding: 5px;
    padding-left: 15px;
}

div.leftContainer div.autorizationPanel div.out
{
    text-align: left;
    font-size: 16px;
    padding: 5px;
    padding-left: 15px;
}


div.leftContainer div.menu div.title
{
    text-align: center;
    padding: 5px;
    font-size: 20px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background: #b0c3dd;
}

div.leftContainer div.menu div.menuItem
{
    text-align: left;
    font-size: 16px;
    padding: 5px;
    padding-left: 15px;
}

div.leftContainer div.usersOnline div.title
{
    text-align: center;
    padding: 5px;
    font-size: 20px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background: #b0c3dd;
}

div.leftContainer div.usersOnline div.userItem
{
    text-align: left;
    font-size: 16px;
    padding: 5px;
    padding-left: 15px;
}

div.dialogWindow
{
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    margin-left: 400px;
    margin-top: 400px;
}

div.dialogWindow div.header
{
    border-radius: 5px 5px 0px 0px;
    text-align: right;
    padding-top: 4px;
    border-bottom: 1px solid black;
    background: #b0c3dd;
}

div.dialogWindow div.header img
{
    width: 20px;
    height: 20px;
}

div.dialogWindow div.text
{
    background: #d1e6e0;
    padding: 5px;
}

div.dialogWindow div.buttons
{
    text-align: center;
    background: #d1e6e0;
    border-radius: 0px 0px 5px 5px;
    padding: 5px;
}

